{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="{% static 'css/splash.css' %}">
</head>
<body>

<div class="splash">
    <div class="logo-wrapper">
        <img src="{% static 'images/logo.png' %}"
                alt="Shine & Bright Logo"
                class="splash-logo">
    </div>
    <h1 class="logo">Shine & Bright</h1>
    <p class="tagline">Experience Premium Laundry Care</p>
</div>


<script src="{% static 'js/splash.js' %}"></script>
</body>
</html>
